/* font-family: 'PartialSansKR-Regular'; */
@font-face {
  font-family: 'PartialSansKR-Regular';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-1@1.1/PartialSansKR-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

/* font-family: 'GmarketSansLight'; */
@font-face {
  font-family: 'GmarketSansLight';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

/* font-family: "source-han-sans-kr-variable", sans-serif;
font-variation-settings: "wght" 250; */
/* font-family: "pretendard", sans-serif;
font-weight: 700;
font-style: normal; */
@import "tailwindcss";


body {
  font-family: "source-han-sans-kr-variable";
  background-color: #f9f9f9;
}

a {
  color: black !important;
  text-decoration: none !important;
}

a:hover {
  color: yellowgreen !important;
}

#root {
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
}

/* 상단바 */
.nav {
  display: flex;
  width: 100vw;
  justify-content: space-between;
  background-color: #fff;
  flex-direction: column;
}

/* 로그인버튼 */
.loginBtn {
  float: right;
  font-size: 12px;
  align-items: center;
  text-align: center;
  display: flex;
  margin: 2vh;

}

.loginBtn>div {
  margin-left: 1vw;
}

/* 로고 */
.logo {
  width: 100%;
  display: flex;
  font-family: 'PartialSansKR-Regular';
  font-size: xx-large;
  justify-content: center;
}

/* 메뉴&검색창 */
.menu {
  width: 100%;
  display: flex;
  justify-content: center;
  float: right;
  flex-wrap: wrap;
}

/* 메뉴 */
.menu>ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.menu>ul>li:hover {
  color: yellowgreen;
  font-weight: bold;
  /* box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.1); */
  font-family: "pretendard", sans-serif;
  border-radius: 5px;
}

.menu>ul>li {
  grid-template-columns: repeat(6, minmax(0, 1fr));
  list-style: none;
  padding: 1vh 2vw;
}

/* 검샏창 */
.search {
  width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
  margin: 1vh 0;
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.1);
}

.search>input {
  width: 50%;
  border: none;
  outline: none;
  padding: 0.5rem;
  background-color: transparent;
}

/* 제품카드 */
.pCards {
  padding: 2vh 10vw;
  background-color: #f9f9f9;
}

.pCards>div {
  width: 80%;
  margin: 0 auto;
}

.pCard {

  justify-content: center;
  background-color: #fff;
  padding: 2vh 2vh 0 2vh;
  font-size: small;
  font-family: 'GmarketSansMedium';
  font-weight: 300;
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.pCard:hover {
  transform: scale(1.03);
  z-index: 10;
  box-shadow: 4px 4px 4px yellowgreen;
}

.pCard>img,
.pCard>div {
  margin-bottom: 1vh;
}

.newStk {
  color: yellowgreen;
}

/* 로그인 */
.logInCard {
  width: 40vw;
  margin: 0 auto;
  padding: 2vh;
  display: flex;
  justify-content: center;
  margin-top: 5vh;
  border-radius: 10px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
  font-family: 'GmarketSansMedium';
  display: flexbox;
}

.logInCard input {
  width: 30vw;
  height: 7vh;
  background-color: rgba(153, 205, 50, 0.218);
  border-radius: 5px;
}

.LInCd {
  margin: 2vh;
  justify-content: center;
}

.logInCard button {
  background-color: yellowgreen;
  color: white;
}

/* 제품 상세 */
.PdDetail {
  width: 100vw;
  display: flex;
  justify-content: center;
  padding: 2vw;
}

.PdDetail>div {
  width: 90vh;
  display: flex;
  background-color: #fff;
  padding: 2vh;
}

.PdDetail img {
  width: 45%;
  justify-content: center;

}

.infors {
  width: 50%;
}

.infor {
  width: 100%;
  margin-bottom: 1vh;
}

.infors>button {
  width: 100%;
  margin-top: 80%;
  background-color: yellowgreen;
}

/* 모바일 */
.hamburger {
  display: none;
  position: absolute;
  top: 2vw;
  left: 2vw;
  z-index: 0;
  width: 7vh;
  height: 4vh;
}


@media (max-width: 768px) {
  .hamburger {
    display: block;
    /* 모바일에서 햄버거 버튼 보이기 */
  }

  .loginBtn {
    font-size: 15px;
    display: flex;
    margin: 2vh 3vw;
  }

  .nav {
    padding-bottom: 3vh;
  }

  .menu {
    font-size: 12px;
    display: none;
  }

  .menu>ul>li {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  .pCards {
    padding: 1vh 4vw;
  }

  .logInCard {
    width: 80vw;
  }

  .logInCard input {
    width: 70vw;
  }

  .menu.open {
    display: block;
    /* 토글 시 메뉴 보이기 */
  }
}